@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-image: url("../images/header-bg-color.png"); /* Specify your image path */
  background-size: cover; /* Make sure the background covers the entire viewport */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Ensure the image does not repeat */
  background-attachment: fixed; /* Makes the image stay fixed while scrolling */
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 87%;
  margin: auto;
}

.navbar.logo {
  width: 50px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;

  font-size: 18px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid #49557e;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
