/* General Styling */
.navbarx {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Light background with slight transparency */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  font-family: "Outfit";
}

.logo {
  width: 140px;
  height: auto;
  transition: transform 0.3s ease;
}

.navbar-menu {
  display: flex;
  gap: 25px;
  list-style: none;
}

.navbar-menu a {
  margin-top: 13px;
  text-decoration: none;
  color: #333;
  font-size: 18px;
  padding: 5px;
  transition: color 0.3s ease;
}

.navbar-menu a:hover {
  color: tomato; /* Highlight effect */
}

/* Navbar right section */
.navbar-right {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar-profile {
  position: relative;
}

.nav-profile-dropdown {
  position: absolute;
  display: none;
  right: 0;
  top: 50px;
  z-index: 10;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  list-style: none;
}

.navbar-profile:hover .nav-profile-dropdown {
  display: flex;
}

.nav-profile-dropdown li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 0;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-profile-dropdown li:hover {
  color: tomato;
}

.nav-profile-dropdown img {
  width: 20px;
  height: 20px;
}

hr {
  border: 0;
  height: 1px;
  background: tomato;
  width: 100%;
}

/* Media Queries */
@media (max-width: 900px) {
  .navbar-menu {
    display: none; /* Hide menu on smaller screens */
  }
}

@media (max-width: 1050px) {
  .navbar-menu a {
    font-size: 16px;
  }

  .navbar-right img {
    width: 20px;
  }

  .navbar-profile {
    padding: 10px 15px;
  }
}
